@charaset "UTF-8";

html {
    font-size: 100%;
  }
  
  body {
    color: #24292e;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  li {
    list-style: none;
  }

  #header {
    max-width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0 4%;
    background-color:#004aad;
    display: flex;
  
    
  }

  #header .header-main {
    display: flex;
    
  }

 .toggle-menu-buttom {
  display: none;
 }

  #header h1 {
    width: 60px;
   

  }

  #header p {
    font-weight: bold;
    font-size: 30px;
    
  }
  
  #header ul {
    display: flex;
    
    padding: 10px 0;
    margin-left: 100px;
  }
  
  #header li {
    font-size: 1.0rem;
    margin-left: 15px;
    
  }

  #header li a {
    color: black;
  }

  .section-title {
    display: grid;
  }

  .section-title h1 {
    font-weight: bold;
    font-size: 20px;
}
.section-title p {
    font-size: 15px;
    margin-top: 5px;
}


.map iframe {
  height: 500px;
  width: 70%;
  margin-left: 50px;
  margin-right: auto;
}

.secondtopic{
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}


.form-area {
  background-color: yellow;
  border: 1px solid #aaaaaa;
  margin-top: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



  @media (max-width:830px){
    #header ul{
      display: block;
      text-align: center;
    }
    #header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color:#004aad;
      height: 90px;
      z-index: 10;
      box-shadow: 0 3px 6px rgba(red, green, blue, alpha);
      display: flex;
      flex-direction: column;
      
    }

    #header p {
      font-weight: bold;
      font-size: 30px;
      
    }
    
    #main {
      margin-top: 100px;
    }
    
    
   

   

    .toggle-menu-buttom {
      display: block;
      width: 90px;
      height: 60px;
     background-image: url(/ganryujima/morimo-img/menu-icon.jpeg);
      background-size: 50%;
      background-position:right;
      background-repeat: no-repeat;
      background-color: transparent;
      border: none;
      border-radius: 0;
      outline: none;
      display: flex;
      margin-left: auto;
      margin-top: 10px;
      
    }

    #maintopic h1 {
        display: flex;
        justify-content: center;
        margin-left: 200px;
        background-color: yellow;
        width: 150px;
    }

    #maintopic ul img{
        height: 250px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .header-site-menu {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      color: black;
      background-color: #736E62;
      height: 150px;
      padding-top: 30px;
      padding-bottom: 50px;
      display:none;
    }
    .header-site-menu.is-show {
      display: block;
    }

    .header-site-menu ul {
      display: grid;
    }

    .header-site-menu ul li {
      color: black;
    }
    #footer {
        display: none;
    }
  }